.div {
    background-image: url(../Modal/img/cat.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 50% 10%;
     height: 100vw;
     background-color: rgb(36, 35, 35);
 }